# .yamllint
extends: default

rules:
  # 1. Niet verplicht om met '---' te beginnen
  document-start: disable

  # 2. Voorkom fouten bij lange Jinja-templates of URL's
  line-length:
    max: 160
    level: warning
    allow-non-breakable-words: true

  # 3. Home Assistant gebruikt vaak 'on', 'off', 'yes', 'no'
  truthy: disable

  # 4. Voorkom gezeur over spaties in je commentaarregels
  comments:
    level: warning
  comments-indentation: disable

  # 5. Soms genereert de HA-interface (UI) lege regels aan het eind van bestanden
  trailing-spaces:
    level: warning
    empty-lines: true

